body{
    background-image: url("5.jpg");
    background-size: cover;
}

/*PRIMER TITULO*/
.titulouno{
    position:absolute;
    margin-left: 50px;
    bottom: 0px;
    top: 30vh;
    font-size: 10vw;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    }
    /*INFORMACIÓN*/
.informacion{
font-family: 'Abel', sans-serif;
text-align: center;
font-size: 40px;

}

/* FORMULARIO*/
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.datos{
font-family:'Abel', sans-serif ;
text-align: center;
}

#formulario {
  background: #f085c752;
  padding: 10px;
  margin: 80px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#formulario input[type="text"],
#formulario input[type="email"],
#formulario input[type="tel"],
#formulario textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}
textarea {
height: 100px;
max-width: 100%;
resize: none;
}

#formulario button[type="submit"] {
width: 100%;
border: none;
background: rgba(247, 69, 238, 0.61);
margin: 0 0 5px;
padding: 10px;
font-size: 25px;
}



